#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.estilo-general{
  background-image: url('../src/assets/background-car-distribuidora.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tarjeta-producto{
  padding: 10px;
  border-radius: 5px;
  background-color:rgba(231, 212, 245, 0.8);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.read-the-docs {
  color: #888;
}

.lista-productos {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 350px));
  gap: 10px; 
}

.titulo-producto{
  font-size: 20px;
}

.contenedor-greeting{
  
  justify-content: center;
  align-items: center;
}

.text-stock{
  max-width: 40px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  height: 35px;
}

.selec-stock{
 display: flex;
 justify-content: center;
 align-items: center;
}

.productos-carrito{
  display: flex;
  margin-left: 5px;

}

.resumen-compra {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 50px;
  font-size: 20px;
  border-bottom: 2px solid white;
}

.titulo-compra {
  display: flex;
  align-items: center; 
  height: 50px;
  font-size: 20px;
  border-bottom: 2px solid white;
  padding-left: 15px;
}

.footer-font{
  color: black;
  -webkit-text-stroke: 0.3px white;
}

.form-control{
  background-color:rgba(231, 212, 245, 0.6)
}

.imagen-carrito{
  height: 200px;
  width: auto;
  border-radius: 5px;
  background-color:rgba(231, 212, 245, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
 }
